.body {
    margin: 0 0 0 0 ;
}

.min_menu {
    display: none;
}

.min_menu > button {
    border: 12px 10px;
}

.main_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
}

.nav_bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main_menu>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.main_menu>ul>li {
    padding: 0 8px;
}

.main_menu>ul>li>a {
    padding: 12px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.lang_menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.lang_menu>ul>li {
    padding: 0 8px;
}

.lang_menu>ul>li>a {
    padding: 12px 10px;
    font-size: 9px;
    line-height: 20px;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 60px;
}

.href_menu {
    display:grid;
    text-align: center;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 7%;
    gap: 4px;
}

body {
    background-image: linear-gradient(
        rgba(255, 255, 255) 25% ,
        rgba(255, 255, 255, 0)
        ) , url('https://static.toss.im/assets/homepage/newtossim/new_main.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
}

.href_menu > div > a {
    display: inline-block; 
    color: white;
    font-size: 19px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 8px 16px; /*몹집 키우기 */
    text-align: center; /* 글자 중앙 배열 */
    text-decoration: none; /* 번들거림 없에기 */
    text-decoration-line: none; /* 밑줄 없에기 */
    border-radius: 7px;  /* 테두리 둥글게 하기 */
}

@media screen and (max-width: 650px) {

    .nav_bar,
    .main_menu,
    .lang_menu {
        display: none;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .click_menu {
        display: flex;
        flex-direction: column;
    }

    .min_menu {
        display: flex;
        
    }

    .click_menu {
        display: none;
    }

    .click_menu.show {
        display:flex;
        position: absolute;
        top: 60px;
        right: 10px;        
        align-items: center;
        background-color: white;
        border-radius: 10px;
        gap: 30px;
        padding: 22px 8px;
        box-shadow: 1px 1px 2px 2px rgb(216, 216, 216);
    }

    .click_menu > div > a {
        padding: 15px 10px;
        background-color: white;
        border-radius: 10px;
    }

    .click_menu > div > a:hover {
        background-color: gray;
    }

    .download_button {
        padding: 6px 10px;
        border-radius: 20px;
        border:none;
        background-color: rgb(74, 131, 253);
        color: white;
        
    }

    .hamburger {
        filter: brightness(3.0);
        margin-left: 6px;
    }

    h1 {
        font-size : 30px;
    }
}
